<div class="modal-header">
    <h3>Option page</h3>
    Use ',' as spliter.
</div>
<form name="form.optionForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body">
        <!-- EMAIL -->
        <div class="form-group">
            <label>Blacklist</label>
            <textarea name="blacklist" class="form-control" ng-model="blacklist"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">OK</button>
    </div>
</form>